
.white_btn{
	background: #fff;
	padding: 0px 40px;
	line-height: 40px;
	font-size: 14px;
	color: $dark;
	font-family: $pop;
	font-weight: 500;
}
.button_hover{
    border-radius: 0px;
    position: relative;
    z-index: 1;
    transition: all 0.3s linear;
    overflow: hidden;
    border: 0px;
    display: inline-block;
    text-align: center;
    &:before{
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        transform: translateX(-100%);
        z-index: -1;
        background: #f8b100;
        transition: all 0.3s linear;
		opacity: 0;
    }
    &:hover{
        color: #fff;
        &:before{
            transform: translateX(0);
			opacity: 1;
        }
    }
}

.theme_btn_two{
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    background: $yellow;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 29px;
     &:before{
        background: #f8b100;
    }
    &:hover{
        color: #fff;
    }
}

.theme_btn{
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    background: $yellow;
    padding: 5px 29px;
    &:before{
        background: #f8b100;
    }
    &:hover{
        color: #fff;
    }
}

.book_now_btn{
    width: 100%;
    display: block;
    background: #f3c300;
    color: $dark;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    padding: 5px 20px;
}